@font-face {
    font-family: 'radio-canada-big';
    src: url('./resources/fonts/RadioCanadaBig-VariableFont_wght.ttf') format('truetype');
}

:root {
    --lower-layer-background-color: #82D0D9;
    --middle-layer-background-color: #36B1BF;
    --upper-layer-background-color: #037F8C;
    --dark-font-color: #F272A1;
    --light-font-color: #F299B1;
    --icon-filter-dark: invert(64%) sepia(37%) saturate(2182%) hue-rotate(298deg) brightness(99%) contrast(91%);

    --normal-font-size: 30px;
    --font-family: radio-canada-big, Helvetica, Arial, sans-serif;
    --normal-font-weight: 400px;
    --normal-letter-spacing: 2px;
}

body {
    background-color: var(--lower-layer-background-color);
    font-family: var(--font-family);
    text-align: center;
}

::placeholder {
    color: var(--dark-font-color);
    opacity: 0.5;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: conter;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--middle-layer-background-color) inset !important;
    -webkit-text-fill-color: var(--light-font-color);
    -webkit-text-size-adjust: var(--normal-font-size);
}

#content-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#search-container, 
#result-container {
    background-color: var(--middle-layer-background-color);
    width: 600px;
    padding: 10px 20px;
    border-radius: 10px;
}

#search-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#search-btn {
    background-color: var(--middle-layer-background-color);
    border: 0;
}

#search-input {
    width: 500px;
    border: 0;
    background-color: var(--middle-layer-background-color);
    outline: none;
    color: var(--light-font-color) !important;
    font-size: var(--normal-font-size);
    font-family: var(--font-family);
    font-weight: var(--normal-font-weight);
    letter-spacing: var(--normal-letter-spacing);
}

.function-icon {
    filter: var(--icon-filter-dark);
    width: 30px;
}

#result-container {
    height: fit-content;
}