body {
    background-color: rgb(252, 246, 239);
}

#search-container {
    background-color: bisque;
    width: 50%;
}

#search-input {
    border: 0;
    background-color: antiquewhite;
}

#search-input:focus {
    border: 0;
}